<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/articles.css">
    
</head>
<body>
    <nav>
    
        <ul>
          
          <li><a href ="/">HOME PAGE</a></li>
          <li><a href ="#third_bg">POLLUTION MAP</a></li>
          <li><a class = "nav-color black-text col" href = "#article-section">ARTICLES</a></li>
          <li><div class="nav-title">Green Speak</div></li>
          <li><a class = "nav-color black-text col" href = "#opp-section">OPPORTUNITIES</a></li>
          <li><a href ="/getinvolved">GET INVOLVED</a></li>
          <!-- <li><a class = "nav-color " href = "/pictureupload">upload your picture!!</a></li> -->
          <li><a href = "/more">more</a></li>
          </row>
        </ul>
    
      </nav>
    <h1>Latest Articles</h1>
    
    <% if (articles.length === 0) { %>
        <p>No articles available.</p>
    <% } else { %>
        <% articles.forEach(article => { %>
            <a href="/articles/<%= article.article_id %>" class="article-button"> 
                <h3><%= article.title %></h3>
                <p><strong>Author:</strong> <%= article.first_name %> <%= article.last_name %></p>
                <p><strong>Published on:</strong> <%= new Date(article.date).toISOString().slice(0, 10) %></p>
            </a>
        <% }); %>
    <% } %>
    <div><a class = "black-text col" href = "/articlesub">submit an article</a></div>
</body>
</html>