<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollution Data for ZIP Code <%= dataList.zipCode %></title>
</head>
<body>
    <div class="container">
        <h1>Environmental Data for ZIP Code: <%= dataList.zipCode %></h1>

        <%console.log('Air Quality Data:', dataList.airQualityData.data)%>

<h2>Air Quality:</h2>
<% if (typeof dataList.airQualityData === 'string') { %>
  <p><%= dataList.airQualityData %></p>
<% } else { %>
  <p>Air Quality Index: <%= dataList.airQualityData.index.value %></p>
  <p>PM2.5: <%= dataList.airQualityData.pollutants.pm2_5 %> µg/m³</p>
  <p>PM10: <%= dataList.airQualityData.pollutants.pm10 %> µg/m³</p>
  <p>Ozone: <%= dataList.airQualityData.pollutants.ozone %> µg/m³</p>
<% } %>

<h2>Noise Data:</h2>
<% if (typeof dataList.noiseData === 'string') { %>
  <p><%= dataList.noiseData %></p>
<% } else { %>
  <p>Noise Level: <%= dataList.noiseData.noiseLevel %> dB</p>
<% } %>

<h2>Pollen Data:</h2>
<% if (typeof dataList.pollenData === 'string') { %>
  <p><%= dataList.pollenData %></p>
<% } else { %>
  <ul>
    <li>Tree Pollen: <%= dataList.pollenData.tree %></li>
    <li>Grass Pollen: <%= dataList.pollenData.grass %></li>
    <li>Weed Pollen: <%= dataList.pollenData.weed %></li>
  </ul>
<% } %>

<h2>UV Index:</h2>
<% if (typeof dataList.uvData === 'string') { %>
  <p><%= dataList.uvData %></p>
<% } else { %>
  <p>UV Index: <%= dataList.uvData.uvIndex %></p>
  <p>UV Risk: <%= dataList.uvData.risk %></p>
<% } %>

<h2>Water Quality:</h2>
<% if (typeof dataList.waterData === 'string') { %>
  <p><%= dataList.waterData %></p>
<% } else { %>
  <p>Water Contaminants: <%= dataList.waterData.contaminants %></p>
  <p>pH Level: <%= dataList.waterData.ph %></p>
<% } %>

<h2>Weather Data:</h2>
<% if (typeof dataList.weatherData === 'string') { %>
  <p><%= dataList.weatherData %></p>
<% } else { %>
  <p>Temperature: <%= dataList.weatherData.temperature %> °C</p>
  <p>Humidity: <%= dataList.weatherData.humidity %> %</p>
  <p>Wind Speed: <%= dataList.weatherData.windSpeed %> km/h</p>
<% } %>
    </div>

</body>
</html>
