<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollution Data for ZIP Code <%= dataList.zipCode %></title>
</head>
<body>
    <div class="container">
        <h1>Environmental Data for ZIP Code: <%= dataList.zipCode %></h1>

        <%console.log('Air Quality Data:', dataList.airQualityData.data)%>

        <iframe title="widget" height="340" src="https://widget.airnow.gov/aq-dial-widget/?latitude=<%=latitude%>&longitude=<%=longitude%>" style="border: none; border-radius: 25px; background-color: green" width="230"></iframe>
<h2>Air Quality:</h2>
<% if (!dataList.airQualityData.found) { %>
  <p>No air quality information found for zip code: <%= dataList.zipCode %></p>
<% } else { %>
  <p>Air Quality Index: <%= dataList.airQualityData.index.value %></p>
  <p>PM2.5: <%= dataList.airQualityData.pollutants.pm2_5 %> µg/m³</p>
  <p>PM10: <%= dataList.airQualityData.pollutants.pm10 %> µg/m³</p>
  <p>Ozone: <%= dataList.airQualityData.pollutants.ozone %> µg/m³</p>
  <p>So?: <%= dataList.airQualityData.health_recommendations.all %> </p>
<% } %>

<h2>Noise Data:</h2>
<% if (!dataList.noiseData.found) { %>
  <p>No noise pollution information found for zip code: <%= dataList.zipCode %></p>
<% } else { %>
  <p>Noise Index: <%= dataList.noiseData.index.value %> dB</p>
  <p>So?: <%= dataList.noiseData.health_recommendations.all%></p>
<% } %>

<h2>Pollen Data:</h2>
<% if (!dataList.pollenData.found) { %>
  <p>No pollen information found for zip code: <%= dataList.zipCode %></p>
<% } else { %>
  <p>Pollen Index: <%= dataList.pollenData.index.value %> dB</p>
  <p>Main Pollen Pollutants: <%= dataList.pollenData.index.main_pollutants %> dB</p>

  <p>So?: <%= dataList.noiseData.health_recommendations.all%></p>
<% } %>

<h2>UV Index:</h2>
<% if (!dataList.uvData.found) { %>
  <p>No UV information found for zip code: <%= dataList.zipCode %></p>
<% } else { %>
  <p>UV Index: <%= dataList.uvData.index.value %></p>
  <p>So?: <%= dataList.uvData.health_recommendations.all%></p>
<% } %>

<h2>Water Quality:</h2>
<% if (!dataList.waterData.found) { %>
  <p>No air quality information found for zip code: <%= dataList.zipCode %></p>
<% } else { %>
  <p>Water Contaminants: <%= dataList.waterData.index.value %></p>
  <p>So?: <%= dataList.waterData.health_recommendations.all%></p>
<% } %>
<iframe title="map" height="600" width="800" src="https://gispub.epa.gov/airnow/?monitors=ozonepm&basemap=topographic&contours=none&xmin=-8300000&xmax=-8250000&ymin=4950000&ymax=5050000" style="border: none; border-radius: 25px;"></iframe>



</body>
</html>
